<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>視頻播放</title>
</head>
<body>
    <div class="winkVideoContainerClass">
        <video width="800" height="600" autoplay="autoplay" controls="controls" muted="true">
            <source src="Y:\thermal_fluid\downloads/實作影片1.mp4" type="video/mp4" />
            您的瀏覽器不支持視頻播放。
        </video>
    </div>
</body>
</html>
